h2{
    padding: 35px;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #e6944a;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    text-decoration: none;
    position: relative;
}


nav ul li a {
    display: block;
    color: beige;
    font-size: 14px;
    padding:18px 10px;
    text-decoration: none !important;
    list-style: none;

}

nav ul li ul {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #e6944a !important;
    padding: 10px;
}
nav ul li:hover ul{
    padding-top: 0px;
    display: block;
}
nav ul li ul li {
    width: 90px;
}
nav ul li ul li a {
    float: left;
    list-style: none;
    text-decoration: none;
    position: relative;
}
.row {
    width: 100%;
    padding-top: 170px;
}
h3{
    font-size: small;
}
.card {
    display: flex;
    margin: 5%;
    padding: 5%;
    font-size: 12px;
    width: 260px;
    height: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  padding: 10px;
    width: 240px;
    height: 240px;
}
.prijstag{
    font-weight: bolder ;
    font-size: large;
    position: absolute;
    bottom: 55px;
    left: 10px;

}

.btn-primary {
    alignment: bottom;
    background-color: #e6944a !important;
    color: black !important;
    border-style: solid !important;
    border-color: black !important;

}




