




/* style van de about pagina */
header{
    padding-left: 85px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
h2 {
    padding: 105px;
}
h4{
    position: fixed;
    padding-left: 100px;
    bottom: 40px;
}





/* Mainpage en filterpage banner */
.banner {
    margin-top: 73px;
    padding-top: 5px !important;
    width: 100%;
    background: linear-gradient(180deg, #e6944a, white);
    vertical-align: baseline;
}
nav {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 73px;
    background-color: #e6944a;
    position: fixed;
    z-index: 100000000000;
}





/* layout van de navigatie balk + navigatiemenu */
nav ul {
    padding-left: 5px;
    float: left;
}
nav ul li a img {
    display: inline-block;
    padding-left: -500px;
    height: 65px;
    width: 65px;
}
nav ul li {
    top: 0;
    float: left;
    list-style: none;
    text-decoration: none;
    position: relative;
}
nav ul li a {
    display: block;
    color: beige;
    font-size: 20px;
    text-align: center;
    padding-top: 4px;
    padding-right: 15px;
    text-decoration: none !important;
    list-style: none;
}
nav ul li ul {
    padding-left: -10px;
    display: none;
    position: absolute;
    background-color: #e6944a !important;
}
nav ul li:hover ul {
    display: block;
}
nav ul li ul li {
    text-align: left !important;
    width: 100px;
}
nav ul li ul li a {
    text-align: left;
    float: left;
    list-style: none;
    text-decoration: none;
    position: relative;
}







/* de product card op de mainpage */
.row {
    width: 100%;
    padding-left: 100px;
}

h3 {
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: monospace;
    text-align: center;
    color: #291407;
}
.card {
    display: flex;
    margin: 15px;
    padding: 15px;
    font-size: 12px;
    width: 250px;
    height: 400px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
    flex-grow: 0 !important;
}
.card-img-top {
    padding: 10px;
    width: 50%;
    height: 140px;
}
.scrollable {
    overflow-y: auto;
    max-height: 110px;
    height: 110px;
}
.prijstag {
    font-weight: bolder;
    font-size: large;
    position: absolute;
    bottom: 55px;
    left: 15px;
}







/* style van alle buttons over de hele website*/
.btn-primary {
    alignment: bottom;
    background-color: #e6944a !important;
    color: white !important;
    border-style: solid !important;
    border-color: black !important;
}
.btn-primary:hover {
    background-color: #e67d1d !important;
}








/* style Footer*/
p2 {
    border-top-style: solid;
    border-top-color: #291407;
    border-top-width: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #e6944a;
    color: white;
    text-align: center;
    font-size: small;
}

/* styling van de winkelmand pagina */
.formplustable {
    width: 40%;
    display: inline-block;
    position: fixed;
    padding-left: 100px;
}
.contactgegevens {
    top: 250px;
    position: fixed;
    margin-top: -120px;
    padding-right:200px;
    right: 0;
    width: 40%;
}
.bestellingpagina {
    padding-top: 120px;
    margin-left: 50px;
}
tr {
    text-align: right;
}






/* error message*/
.error {
    color: red;
    font-size: 1.1em;
    font-weight: bold;
    font-family: monospace;
}