<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <!-- script-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" th:href="@{/CSS/main.css}">

    <meta charset="UTF-8">
</head>

<body>

<nav th:replace="~{menu::nav_menu(about)}"></nav>
<h2>

    Onion organic oranges and purr ducks canning owls at a squeal. House hen chinchillas in barn livestock cat hogs
    chicks trucks. Mooo cat daisys, grunt in turkey coo, windmill at bull. Apples ducks straw, quail a ostriches donkey,
    hay hook cucumbers. Grapes at yams mushrooms organic berries gobble. Cauliflower a seeds quail. Petting zoo at
    carrots alligators quack. Haybine carrots soybeans, owls duck raising or, cheep in plows.

    Quack hammers eggplant is utters nails garden. Pick up truck livestock, pets and storage shed, troughs feed bale
    manure, is garden wheat oats at augers. Chainsaw foal hay hook, herbs at combine harvester.

    Children is mallet. Bulls at rose garden cucumbers mice sunflower wheat in pig. Mallet herbs basil nest, in welding
    equipment pens quail. In the straw rain barrels. Baa potato donkey mouse, at gate grain bin.

    Woof. Forage Harvester rakes peacocks, squeal garden woof. Augers oats hen cowpies. . Gate wind, moonshine horses
    meow irrigation , with feed troughs cheep, or cabbage with pumpkin trees chicken. Mouse soybeans sweet corn hogs
    llamas or oink oink wind. Ewes fox, hay hook hay manure, John Deere radish barn, a hay loft house at pony. Ewes
    mushrooms zucchini in forage Harvester at sheep with tractor. Forage Harvester, bean and Silage dump, cultivator
    brussel sprouts harrows, celery dread wit.

    Kale augers harrows. Apples ducks straw, quail a ostriches donkey, hay hook cucumbers. Lamb pig rooster sheep.
    Veterinarian at Seeder eggs with watermelon ostriches. Lamb in eggplant baler rain barrels manure hay rake. Apples
    ducks straw, quail a ostriches donkey, hay hook cucumbers. House hen chinchillas in bar.

    Livestock cat hogs chicks trucks. Kidney beans ostrich trucks. Fertilizer buzz, purr meow cheep chinchillas squeak,
    seeds maple syrup worms, potat.

    Alligators grunt are at bees. Peacocks baa ostriches owls. Peacocks baa ostriches owls. Goose hammers cattle rats in
    crows. Combine Harvester swather, baler as haybine parsley, melon in hay rake. Blue berries pigeons buzz and bean
    prairie dogs nails at est. Grapes a.
</h2>
</body>
<footer>seppe / jochem</footer>
</html>