<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" th:href="@{/CSS/main.css}">
    <!-- script-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <meta charset="UTF-8">
    <title>Homepage Tim & Jerry</title>
    <title>Winkelmandje</title>
</head>
<body>
<nav th:replace="~{menu::nav_menu(Bestellingen)}"></nav>
<div class="container-fluid">
    <table id="bestellingTable">
        <thead>
        <tr>
            <th th:text="Naam"></th>
            <th th:text="aantal"></th>
            <th th:text="prijs"></th>
        </tr>
        </thead>
        <tbody th:each="dProduct : ${alleRijen}" class="row" >
        <tr>
            <td th:text="*{dProduct.dierenProduct.getProductnaam()}"></td>
            <td th:text="*{dProduct.getAantal()}"></td>
            <td th:text="*{dProduct.dierenProduct.getPrijs()}"></td>
        </tr>

        </tbody>
    </table>
    <div class="container-fluid">
        <div class="klantgegevens">

            <form th:action="@{~/bestellingen}" method="post" th:object="${nBestelling}">

                <div class="form-group">
                    <label for="naam">Naam</label>
                    <input class="form-control" type="text" th:field="*{naam}" id="naam">
                    <span th:if="${#fields.hasErrors('naam')}" th:errors="*{naam}" class="error"></span>
                </div>

                <div class="form-group">
                    <label for="voornaam">Voornaam</label>
                    <input class="form-control" type="text" th:field="*{voornaam}" id="voornaam">
                    <span th:if="${#fields.hasErrors('voornaam')}" th:errors="*{voornaam}" class="error"></span>
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="text" th:field="*{email}" id="email">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                </div>

                <div class="form-group">
                    <label for="adres">Adres</label>
                    <input class="form-control" type="text" th:field="*{adres}" id="adres">
                    <span th:if="${#fields.hasErrors('adres')}" th:errors="*{adres}" class="error"></span>
                </div>

                <div class="form-group">
                    <label for="telnr">Telefoon nummer</label>
                    <input class="form-control" type="text" th:field="*{telnr}" id="telnr">
                    <span th:if="${#fields.hasErrors('telnr')}" th:errors="*{telnr}" class="error"></span>
                </div>

                <input class="btn btn-primary" value="Plaats je bestelling" type="submit">

            </form>
        </div>
    </div>
</div>
<div class="footer">
    <p5> &copy; Tim & Jerry</p5>
</div>
</body>
</html>