<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" th:href="@{/CSS/main.css}">
    <!-- script-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <meta charset="UTF-8">
    <title>Homepage Tim & Jerry</title>

    <h1>Tim & Jerry the petshop boiz</h1>
</head>
<body>
<nav th:replace="~{menu::nav_menu(Home)}"></nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card-body" th:each="product:${all}">
            <div class="col-sm-4">
                <div class="card">
                    <img src="https://www.stagobel.be/media/catalog/product/placeholder/default/placeholder-square_1.png"
                         class="card-img-top">
                    <h3 th:text="${product.productnaam}"></h3>
                    <p th:text="'Beschrijving: ' + ${product.omschrijving}"></p>
                    <p th:text="'Prijs: € ' + ${product.prijs}"></p>
                    <button type="button" class="align-self-end btn btn-lg btn-block btn-primary" style="margin-top: auto;">Add to cart</button>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>





