<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
<div class="container-fluid">
    <nav th:fragment="nav_menu(page)" id="nav_menu">

        <!-- Author: Jochem
                - navigatoe balk met categorie dropdown
                - bedrijfslogo werkt als homebutton
                - css stijl doorgetrokken zoals alle andere paginas
    -->

        <ul>
            <li><a th:href="@{~/}"><img class="toplogo" th:src="@{~/media/tntlogo.jpg}"></a></li>
            <li><a th:href="@{~/}"> Categoriën</a>
                <ul>
                    <li><a th:href="@{~/productfilter/voeding}">Voeding</a></li>
                    <li><a th:href="@{~/productfilter/speelgoed}">Speelgoed</a></li>
                    <li><a th:href="@{~/productfilter/verzorging}">Verzorging</a></li>
                </ul>
            </li>
            <li><a th:href="@{~/about}">About</a></li>
            <li><a th:href="@{~/bestellingen}">Winkelmandje</a></li>
        </ul>
    </nav>
</div>

</html>