<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="main.css">
<div class="container-fluid">
<nav th:fragment="nav_menu(page)" id="nav_menu">

    <ul>
        <li><a th:href="@{~/}"><img class="toplogo" th:src="@{~/media/tntlogo.jpg}"></a></li>
        <li><a th:href="@{~/about}">About</a></li>
        <li><a th:href="@{~/bestellingen}">Bestellingen</a></li>
        <li><a th:href="@{~/}"> Categoriën</a>
            <ul>
                <li><a th:href="@{~/productfilter/voeding}">Voeding</a></li>
                <li><a th:href="@{~/productfilter/speelgoed}">Speelgoed</a></li>
                <li><a th:href="@{~/productfilter/verzorging}">Verzorging</a></li>
            </ul>
        </li>
    </ul>
</nav>
</div>

</html>